@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}



.icons-container{
  box-shadow: 0 0 10px rgb(34, 34, 34);
}

.gradient-text {
  background: linear-gradient(50deg, #5f69ff, #fa26c8, #fc923b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* ------------- Calendar custom Css -------- */



/* styles.css */
.tippy-box[data-theme~='custom'] {
  background-image: linear-gradient(55deg, #9fa5ff, #fa97e3, #ffa860 ); /* Change this to your desired color */
  color: rgb(41, 40, 40);
  border-radius: 15px; 
  box-shadow: 0 0 10px rgb(34, 34, 34);
}

.tippy-box[data-theme~='custom'] .tippy-arrow {
  color: linear-gradient(55deg, #9fa5ff, #fa97e3, #ffa860 ); /* Change this to match the background color */
}



.fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
  position: relative !important;
}
/* .fc-daygrid-day-frame:hover {
  background-color: rgb(249, 225, 253);
} */


.fc-event-title{
  text-overflow: ellipsis;
}

.fc-event-time {
  font-weight: 600;
}
.fc .fc-daygrid-more-link{
  font-weight: 600;
  color: rgb(238, 69, 69);
}



.fc-daygrid-event-harness :hover{
  /* background-color: rgb(202, 201, 201); */
  border-radius: 4px !important;
  
}

.employee-list {
  max-height: calc(80vh - 3rem); /* Adjust the value based on your design */
  overflow-y: auto;
}



@media (max-width: 1159px) {
    .chart{
      width: 80vw;
    }
   
  }


@media (max-width: 639px) {
    .sidebar {
      display: none;
    }
    .ExpandCard{
      left: 30px;
      width: 80vw;
    }
   
  }

  @media (max-width: 540px) {
    .employee-details-input{
      width: 85vw;
  }
  }

  @media (min-width: 639px) {
    .MobileSidebar{
      display: none;
    }
    .nav-toggle{
      display: none;
    }
  }

  @media (max-width: 449px) {
    .model-form-items{
        flex-direction: column;
    }
    .employee-details-input{
        width: 265px;
    }
   
  }

  @media (max-width: 380px) {
    .employee-details-input{
        width: 205px;
    }
    .nav-btn{
      gap: 2px;
    }
    .nav-logo{
      width: 100px;
    }
    .logout-icon{
      display: none;
    }
    .show-profile{
      right: 0px;
    }
  }

  @media (max-width: 320px) {
    .employee-details-input{
        width: 140px;
    }
  
  }


  /* styles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 9px; /* Width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #999595; /* Color of the track */
  border-radius: 10px;
  
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9da5df; /* Color of the thumb */
  border-radius: 10px; /* Roundness of the thumb */
  border: 0px solid #f1f1f1; /* Padding around thumb */
  
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aab1ee; /* Color of the thumb on hover */
}
